
*{
    box-sizing: border-box;
    
}
title{
    font-family: 'Lato', sans-serif;
}
.container{
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 77, 77);
}
header{
    background-color: #f8f8f8;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.navbar{ 
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-nav{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    padding-top: 50px;
    
}

.all-nav a {
    padding: 1.1rem;
}

.icon > a img {
    width: 30px;
    height: 30px;
}

.icon{
    padding-left: 1.5em;
   
}

a {
    text-decoration: none;    
}

.nav-left{
   font-size: 30px;
   padding: 1.5rem;
}

.blue{
    color:#4361EE ; 
   font-weight: bold;
}

.nav-middle a:hover {
    color: #4361EE;
}

.nav-middle a {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1.2em;
}

.login {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

.login:hover {
    color: #4361EE;
}

.nav-button {
    color: #fff;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
    border-radius: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    transform: scale(1.1, 1.1);
}

.left-head h3 {
    margin: 0;
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.left-head h2{/*isto ubacio font*/
    margin-bottom: 0.8rem;
    font-family: muli, sans-serif;
    font-weight: 800;
    font-style:normal ;
}

.left-head p {
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style:normal;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 70px;
    padding-bottom: 50px; 
}

.right-head img {
    width: 800px;    
}

.head-viewm{
    color: #fff;
    background-color: #4361EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 140px;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
}

.head-viewm a {  
    font-size: 0.9em;
    color: white;
}

.head-viewm:hover{
    transform: scale(1.1, 1.2);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbd8e4;
}

section > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#4361EE ;
}

article{
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dbd8e4;
}

.art-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40em;
    height: 30em;
}

.art-left div {
    width: 80%;
}

.art-left div p {
    font-size: 1.2em;
}

.art-right{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art-right-top, .art-right-bott {
    width: 20em;
    height: 15em;
}

.art-right-top{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.art-right-top img{
    width: 100%;
    height: auto;
}

.art-right-bott{
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-right-bott img{
    width: 100%;
    height: auto;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.foot-top {
    margin-top: 80px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-top1 {
    display: flex;
    flex-direction: column;
}

.foot-top-a1 {
    font-weight: bolder;
    font-size: 30px;
}

.foot-top1 p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.foot-links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foot-links a img {
    height: 13px;
    width: auto;
}

.foot-top1 p {
    margin-left: 0;
}

.foot-top2 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top2-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot-top2-box img {
    height: 13px;
    width: auto;
}

.foot-top3 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top3 a {
    margin-bottom: 8px;
    margin-top: 8px;
}

.foot-top4 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top4 a {
    margin-bottom: 8px;
    margin-top: 8px;
}

.foot-top5 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top5 p {
    margin-bottom: 50px;
}

.foot-top6 {
    display: flex;
    flex-direction: row;
    box-shadow: -10px 10px 10px rgb(240, 238, 238);
}

.foot-top6 input {
    border-color: #fff;
    width: 180px;
    height: 40px;
}

.foot-top6 a {
    width: 40px;
    height: 40px;
    background-color: #4361EE;
}

.foot-top6 a img {
    height: 20px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.foot-bottom {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foot-bottom  a {
    color: #4361EE;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }

    body > div {
        width: 99%;
    }

    h2 {
        font-size: 2rem;
    }

    .nav-left {
        padding: 0;
        margin: 0;
        width: 90%;
        height: 4rem;
        background-color: #fff;
        position: fixed;
        top: 0;
        border-bottom: 1px solid #4361EE;
    }

    .nav-left a {
        position: fixed;
        top: 0;
    }

    .navbar, .all-nav, .nav-middle, .nav-right, .nav-left {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .navbar {
        width: 100%;
        height: auto;
    }

    .nav-right {
        margin: 0;
    }

    .all-nav {
        height: auto;
    }

    .nav-middle {
        padding-top: 1em;
    }

    .icon {
        margin-top: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 1.1em;
        padding-top: 1.1em;
    }

    .left-head {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-head h2 {
        font-size: 1.5rem;
    }

    .right-head {
        width: 100%;
        height: auto;
    }

    .right-head img {
        width: 100%;
        height: auto;
    }

    section {
        width: 100%;
    }

    section img {
        width: 100%;
        height: auto;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .art-left {
        width: 100%;
    }
    
    footer {
        height: auto;
        width: 100%;
    }

    .foot-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top1 p {
        font-size: 0.9em;
    }

    .foot-top2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .foot-top5-p {
        height: 2em;
    }

    .foot-top6 {
        margin-top: 0;
        box-shadow: none;
    }

    .foot-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon a img {
        width: 2em;
        margin: 0;
    }

    .navbar, .all-nav, .nav-left, .nav-middle, .nav-right, .icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        height: auto;
    }

    .all-nav, .navbar {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-middle {
        width: 25em;
        margin: 1em;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-middle a {
        margin-right: 0;
        padding-right: 0;
    }

    .nav-left {
        padding: 0;
        width: auto;
    }

    .nav-left a {
        font-size: 1.5em;
    }

    .icon {
        width: auto;
    }

    .nav-right {
        width: auto;
    }

    header {
        width: 100%;
    }

    .header {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .left-head {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-head {
        width: 50%;
    }

    .right-head img {
        width: 100%;
    }

    main {
        width: 100%;
    }

    section { 
        width: 100%;
    }

    section img {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .foot-top {
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon a img {
        width: 2em;
        margin: 0;
    }

    .navbar, .all-nav, .nav-left, .nav-middle, .nav-right, .icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        height: auto;
    }

    .all-nav, .navbar {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-middle {
        margin: 1em;
        justify-content: space-evenly;
    }

    .nav-middle a {
        margin-right: 0;
        padding-right: 0;
    }

    .nav-left {
        padding: 0;
        width: auto;
    }

    .nav-left a {
        font-size: 1.5em;
    }

    .icon {
        width: auto;
    }

    .nav-right {
        width: auto;
    }

    header {
        width: 100%;
    }

    .header {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .left-head {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-head {
        width: 50%;
    }

    .right-head img {
        width: 100%;
    }

    main {
        width: 100%;
    }

    section { 
        width: 100%;
    }

    section img {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .foot-top {
        width: 100%;
    }
}