*{
    box-sizing: border-box;
    
}
title{
    font-family: 'Lato', sans-serif;
}

.container{
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 77, 77);
}
header{
    background-color: #f8f8f8;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.navbar{ 
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-nav{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    padding-top: 50px;
    
}

.all-nav a {
    padding: 1.1rem;
}

.icon > a img {
    width: 30px;
    height: 30px;
}

.icon{
    padding-left: 1.5em;
   
}

a {
    text-decoration: none;    
}

.nav-left{
   font-size: 30px;
   padding: 1.5rem;
}

.blue{
   color:#4361EE ; 
   font-weight: bold;
}

.nav-middle a:hover {
    color: #4361EE;
}

.nav-middle a {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1.2em;
}

.login {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

.login:hover {
    color: #4361EE;
}

.nav-button {
    color: #fff;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
    border-radius: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    transform: scale(1.1, 1.1);
}

.left-head h3 {
    margin: 0;
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style: normal;
        
}
.left-head h2{
    margin-bottom: 0.8rem;
    font-family: muli, sans-serif;
    font-weight: 800;
    font-style:normal ;
}
.left-head p {
    
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style:normal;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 70px;
    padding-bottom: 50px; 
}
.right-head img {
    width: 800px;    
}
.head-viewm{
    
    color: #fff;
    background-color: #4361EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 140px;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
}
.head-viewm a {  
    font-size: 0.9em;
    color: white;
}
.head-viewm:hover{
    transform: scale(1.1, 1.2);
}

section {
    background-color: #d9d9d9;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SearchButton*/
button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;

}

input {
	color: #171717;
}

.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}

.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}

.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}

.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}

.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}

.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}

.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}

.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}

.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}

.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

.bottom-left li {
    list-style: none;
    padding: 1rem;
}

.bottom-left ul {
    margin-top: 90px;
    padding-left: 0;
}

.bottom-left a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(110, 108, 108);
    
}

.categories li {
    list-style: none;
    padding: 1rem;
}

.categories ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categories a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(110, 108, 108);
    
}

.categories a:hover{
    color: #4361EE;
}

.expand{
    position:relative;
    text-decoration:none;
    display:inline-block;
}

.expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px #4361EE;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}

.expand:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 2em;
}

.pictures > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 20em;
    height: auto;
    padding-bottom: 2em;
}

.pictures > div img {
    width: 100%;
    height: auto;
}

.pictures > div a {
    color: orangered;
}

.pictures > div a:hover {
    font-weight: bolder;
}

.image-div {
    width: 90%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-bottom {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
}

.sec-bottom a {
    color: #4361EE;
    font-weight: bolder;
}

.sec-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-box1 h4 {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.foot-top {
    margin-top: 80px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-top1 {
    display: flex;
    flex-direction: column;
}

.foot-top-a1 {
    font-weight: bolder;
    font-size: 30px;
}

.foot-top1 p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.foot-links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foot-links a img {
    height: 13px;
    width: auto;
}

.foot-top1 p {
    margin-left: 0;
}

.foot-top2 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top2-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot-top2-box img {
    height: 13px;
    width: auto;
}

.foot-top3 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top3 a {
    margin-bottom: 8px;
    margin-top: 8px;
}

.foot-top4 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top4 a {
    margin-bottom: 8px;
    margin-top: 8px;
}

.foot-top5 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.foot-top5 p {
    margin-bottom: 50px;
}

.foot-top6 {
    display: flex;
    flex-direction: row;
    box-shadow: -10px 10px 10px rgb(240, 238, 238);
}

.foot-top6 input {
    border-color: #fff;
    width: 180px;
    height: 40px;
}

.foot-top6 a {
    width: 40px;
    height: 40px;
    background-color: #4361EE;
}

.foot-top6 a img {
    height: 20px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.foot-bottom {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foot-bottom p a {
    color: #4361EE;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    
    body > div {
        width: 99%;
    }

    h2 {
        font-size: 2rem;
    }

    .nav-left {
        padding: 0;
        margin: 0;
        width: 90%;
        height: 4rem;
        background-color: #fff;
        position: fixed;
        top: 0;
        border-bottom: 1px solid #4361EE;
        z-index: 998;
    }

    .nav-left a {
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .navbar, .all-nav, .nav-middle, .nav-right, .nav-left {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .navbar {
        width: 100%;
        height: auto;
    }

    .nav-right {
        margin: 0;
    }

    .all-nav {
        height: auto;
    }

    .nav-middle {
        padding-top: 1em;
    }

    .icon {
        margin-top: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 1.1em;
        padding-top: 1.1em;
    }

    .left-head {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-head h2 {
        font-size: 1.5rem;
    }

    .right-head {
        width: 100%;
        height: auto;
    }

    .right-head img {
        width: 100%;
        height: auto;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .categories {
        flex-direction: column;
    }

    .categories ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .categories ul li {
        z-index: 0;
    }

    .pictures {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        height: auto;
        width: 100%;
    }

    .foot-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top1 p {
        font-size: 0.9em;
    }

    .foot-top2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-top5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .foot-top5-p {
        height: 2em;
    }

    .foot-top6 {
        margin-top: 0;
        box-shadow: none;
    }

    .foot-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon a img {
        width: 2em;
        margin: 0;
    }

    .navbar, .all-nav, .nav-left, .nav-middle, .nav-right, .icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        height: auto;
    }

    .all-nav, .navbar {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-middle {
        width: 25em;
        margin: 1em;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-middle a {
        margin-right: 0;
        padding-right: 0;
    }

    .nav-left {
        padding: 0;
        width: auto;
    }

    .nav-left a {
        font-size: 1.5em;
    }

    .icon {
        width: auto;
    }

    .nav-right {
        width: auto;
    }

    header {
        width: 100%;
    }

    .header {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .left-head {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-head {
        width: 50%;
    }

    .right-head img {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .pictures {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .pictures > div {
        width: 100%;
    }

    .foot-top {
        width: 100%;
        justify-content: space-between;
    }
    
}

@media (min-width: 900px) and (max-width: 1200px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon a img {
        width: 2em;
        margin: 0;
    }

    .navbar, .all-nav, .nav-left, .nav-middle, .nav-right, .icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        height: auto;
    }

    .all-nav, .navbar {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-middle {
        margin: 1em;
        justify-content: space-evenly;
    }

    .nav-middle a {
        margin-right: 0;
        padding-right: 0;
    }

    .nav-left {
        padding: 0;
        width: auto;
    }

    .nav-left a {
        font-size: 1.5em;
    }

    .icon {
        width: auto;
    }

    .nav-right {
        width: auto;
    }

    header {
        width: 100%;
    }

    .header {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .left-head {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-head {
        width: 50%;
    }

    .right-head img {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .pictures {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .pictures > div {
        width: 100%;
    }

    .foot-top {
        width: 100%;
        justify-content: space-between;
    }
    
}