
*{
    box-sizing: border-box;
    
}
title{
    font-family: 'Lato', sans-serif;
}
.container{
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 77, 77);
}
header{
    background-color: #f8f8f8;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.navbar{
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;  
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    
}
/*dodao font size font i weight*/
.all-nav li {
    list-style: none;
    display: inline-block;    
    padding: 1.1rem;
    

}
.all-nav{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    padding: 10px; 
    padding-top: 50px;
    
}
.icon > img {
    width: 30px;
    height: 30px;
}
.icon{
    padding-left: 1.5em;
   
}
a {
    text-decoration: none;    
}
/*dodao padding*/
.nav-left{
   font-size: 30px;
   padding: 1.5rem;
}


.blue{
   color:#4361EE ; 
   font-weight: bold;
}

.nav-ul1-li a {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    
}
.nav-ul2-li a {
    color: #3d4151;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;



}
/*ubacio muli font*/
.left-head h3 {
    margin: 0;
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style: normal;
        
}
.left-head h2{/*isto ubacio font*/
    margin-bottom: 0.8rem;
    font-family: muli, sans-serif;
    font-weight: 800;
    font-style:normal ;
}
.left-head p {
    
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style:normal ;
    

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 70px;
    padding-bottom: 50px;
    
}
.right-head img {
    width: 800px;    
}
.head-viewm{
    
    background-color: #4361EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 140px;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
    

}
.head-viewm a {  
    font-size: 0.9em;
    color: white;
}
.head-viewm:hover{
    transform: scale(1.1, 1.2);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 240, 240);
}
.section-top{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.section-top h4 {
    color: #4361EE;
    font-weight: bold;
}
.section-top p {
    font-family: muli, sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.section-top h4, h3, p{
    margin: 0.5em;

}
.section-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.section-grid img {
    width: 100px;
    
}
.section-grid > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:420px;
    width:350px ;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(240, 238, 238);

}
.section-grid > div:hover{
    background-color: #4361EE;
    background: linear-gradient(45deg, #4361EE,#93a1dd);
    color: white;
    transform: scale(1.1, 1.1);
    
}


.readmore{
    background-color: #4361EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 176, 141);
} 
.section-middle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin-top: 100px;
}

.middle-pic{
    padding-top: 100px;
}

.sec-middle-right{
    display: flex;
    flex-direction: column;
}
.sec-middle-right p{
    padding-top: 50px;
}
.section-middle img {
    width: 500px;
}

.middle-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.middle-button img {
    height: 70px;
    width: 70px;
    
}
.line {
    margin-left: 20px;
    margin-right: 20px;
}
.line h1 {
    display: block;
    padding-bottom: 40px;
}
.middle-button h4 {
    padding-bottom: 10px;
    font-family: muli, sans-serif;
    font-weight: 100;
    font-style: normal;

}

.section-middle2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle2-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

}

.middle2-grid > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(240, 238, 238);

    
}
.middle2-grid > div img{
    height: 70px;
    width: 70px;

}
.middle2-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 80px;
    margin-bottom:50px ;
}

.middle2-title h2 {
    margin: 0 ;
}

.middle2-title span {
    color: #4361EE;
}












